      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              	  <!-- profile -->
              	  <p class="centered"><a href="/account/profile/"><img src="/assets/img/ui-sam.jpg" class="img-circle" width="60"></a></p>
              	  <h5 class="centered"><a href="/account/profile/">{{userinfo.username}}</a></h5>
                  <li class="mt">
                      <a href="/monitor/fuzzer/">
                          <i class="fa fa-dashboard"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-flash"></i>
                          <span>Crash</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/monitor/crash/"><i class="fa fa-list"></i>Crash Lists</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-file-o"></i>
                          <span>Testcase</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/testcase/"><i class="fa fa-list"></i>List</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-exclamation-circle"></i>
                          <span>Report Status</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="/track/issue/"><i class="fa fa-compass"></i>Issue</a></li>
                      </ul>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>