<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sweetmon - Dashboard for sweetfuzz</title>
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        
    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      {% include "common/head.html" %} 
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      {% include "common/sidebar.html" %} 
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> Crash Information, IDX : {{crash.id}}</h3>   	
          	<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">

          		<div class="col-lg-12">
                  <div class="form-panel"><a href="/monitor/crash/">
                  <button type="button" class="btn btn-theme1 pull-right">Back to lists</button></a>
                  	  <h4 class="mb">Information</h4> 
                  	  <hr>
                      <form class="form-horizontal style-form" method="post" action="/monitor/crash/{{crash.id}}/modify">
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">Crash Title</label>
                              <div class="col-sm-10">
                                  <p class="form-control-static">{{crash.title}}</p>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">Reported Date</label>
                              <div class="col-sm-10">
                                  <p class="form-control-static">{{crash.reg_date}} <b>({{ crash.reg_date|timesince }} ago)</b></p>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">Target</label>
                              <div class="col-sm-10">
                                  <p class="form-control-static">{{crash.target}}</p>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">Fuzzer Name</label>
                              <div class="col-sm-10">
                                  <p class="form-control-static">{{crash.fuzzer_name}}</p>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">crashlog</label>
                              <div class="col-sm-10">
                                  <p class="form-control-static"><pre class="code">{{crash.crashlog}}</pre></p>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">Download Testcase</label>
                              <div class="col-sm-10">
                                  <p class="form-control-static">
                                    <input id="OTU_input" type="text" class="form-control" placeholder="Click 'Generate Url' or 'Download' to get testcase." value="">
                                  <div class="btn-group">
                                      <button id="generate_otu" type="button" class="btn btn-theme03"><i class="fa fa-cogs"></i> Generate Url</button>
                                      <button id="download_otu" type="button" class="btn btn-info"><i class="fa fa-download"></i> Download</button>
                                    </div>
                                  </p>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">File Size </label>
                              <div class="col-sm-10">
                                  <p class="form-control-static">{{crash.crash_file.size|filesizeformat}}</p>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">Crash Hash</label>
                              <div class="col-sm-10">
                                  <p class="form-control-static">{{crash.crash_hash}}</p>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">Reproducable</label>
                              <div class="col-sm-10">
                                  <p class="form-control-static">{{crash.reproducable}}</p>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">dup_crash</label>
                              <div class="col-sm-10">
                                  <p class="form-control-static">{{crash.dup_crash}} / <span class="label label-success">View other crashes</span></p>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">is_blacklist</label>
                              <div class="col-sm-10">
                                  Check blacklist
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">Comment</label>
                              <div class="col-sm-10">
                                  <textarea type="text" name="comment" class="form-control" >{{crash.comment}}</textarea>
                                  {% csrf_token %}
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label"></label>
                              <div class="col-sm-10">
                                  <button type="submit" class="btn btn-theme02 btn-lg btn-block"><i class="fa fa-check"></i> Apply</button>
                              </div>
                          </div>

                      </form>
                  </div>
          		</div><!-- col-lg-12-->      	
          	</div><!-- /row -->
		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="/assets/js/common-scripts.js"></script>
    <!--script for this page-->
    <script src="/assets/js/jquery-ui-1.9.2.custom.min.js"></script>
<!-- 	<script src="/assets/js/form-component.js"></script>    
 -->    
  <script>
      //custom select box

       $(document).ready(function(){
        $('#generate_otu').click(function(){
         $.ajax({
          url : '/fuzz/geturl',
          type: 'POST',
          data : {idx:'{{crash.id}}', type:'crash',"csrfmiddlewaretoken": "{{ csrf_token }}"},
          success:function(data){
              $('input[id=OTU_input]').attr('value', data['url'])
          }
         });
        });
        $('#download_otu').click(function(){
         $.ajax({
          url : '/fuzz/geturl',
          type: 'POST',
          data : {idx:'{{crash.id}}', type:'crash',"csrfmiddlewaretoken": "{{ csrf_token }}"},
          success:function(data){
              window.location.href=data['url']
          }
         });
        });
       });
  </script>

  </body>
</html>
