<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sweetmon - Dashboard for sweetfuzz</title>
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="shortcut icon" type="image/png" href="/assets/favicon.ico"/>
    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      {% include "common/head.html" %} 
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      {% include "common/sidebar.html" %} 
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> Testcase</h3>   	
          	<!-- BASIC FORM ELELEMNTS -->
          	<div class="row mt">

          		<div class="col-lg-12">
                  <div class="form-panel">
                      <a href="/testcase/"><button type="button" class="btn btn-theme1 pull-right">Back to lists</button></a>
                  	  <h4 class="mb">Information</h4>
                  	  <hr>
                      <form class="form-horizontal style-form" action="">
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">Testcase Title</label>
                              <div class="col-sm-10">
                                  <p class="form-control-static">{{testcase.title}}</p>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">Target</label>
                              <div class="col-sm-10">
                                  <p class="form-control-static">{{testcase.target}}</p>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">Description</label>
                              <div class="col-sm-10">
                                  <p class="form-control-static">{{testcase.description}}</p>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">Setting Fuzzer</label>
                              <div class="col-sm-10">
                                  <p class="form-control-static">
                                  <pre>
# Paste under contents in config.py
FUZZER_NAME = "{{testcase.fuzzerName}}"
FUZZING_TARGET = "{{testcase.target}}"
BINARY = "{{testcase.binaryName}}"
SERVER_URL = "{{ request.get_host }}"
SERVER_PROTOCOL = "{% if request.is_secure %}https://{% else %}http://{% endif %}"</pre></p>
                              </div>
                          </div>
                     <div class="form-group">
                          <label class="col-lg-2 col-sm-2 control-label"></label>
                          <div class="col-sm-10">
                              <a href="/admin/monitor/testcase/{{testcase.id}}/change/">
                              <button type="button" class="btn btn-theme02 btn-lg btn-block"><i class="fa fa-check"></i> Modify Information </button></a>
                          </div>
                      </div>

                      </form>
                  </div>
          		</div><!-- col-lg-12-->      	
          	</div><!-- /row -->

           {% if testcase.testcase_url or testcase.testcaseFile %}
        	<div class="row mt">
          		<div class="col-lg-12">
                  <div class="form-panel">
                  	  <h4 class="mb">Download Testcase</h4>
                  	  <hr>
                      <form class="form-horizontal style-form" action="">
                          {% if testcase.testcaseFile %}
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">from server</label>
                              <div class="col-sm-10">
                                  <p class="form-control-static"> <a href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/files/testcase/{{testcase.testcaseFile.name}}">Downalod</a></p>
                              </div>
                          </div>
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">via Wget</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" readonly value="wget {% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/files/testcase/{{testcase.testcaseFile.name}} ">
                              </div>
                          </div>
                          {% endif %}
                          {% if testcase.testcase_url %}
                          <div class="form-group">
                              <label class="col-lg-2 col-sm-2 control-label">from external</label>
                              <div class="col-sm-10">
                                  <p class="form-control-static"> <a href="{{testcase.testcase_url}}">{{testcase.testcase_url}}</a></p>
                              </div>
                          </div>
                          {% endif %}
                      </form>
                  </div>
          		</div><!-- col-lg-12-->
          	</div><!-- /row -->
          {% endif %}
           {% if testcase.fuzzer_url or testcase.fuzzerFile %}
            <div class="row mt">
          		<div class="col-lg-12">
                 <form class="form-horizontal style-form" action="">
                  <div class="form-panel">
                      <div class="form-group">
                          <h4 class="col-lg-12 control-label">Download Fuzzer </h4>
                      </div>
                          {% if testcase.fuzzerFile %}

                      <div class="form-group">
                          <label class="col-lg-2 col-sm-2 control-label">from server</label>
                          <div class="col-sm-10">
                              <p class="form-control-static"> <a href="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/files/testcase/{{testcase.fuzzerFile.name}}">Download</a></p>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-lg-2 col-sm-2 control-label">via Wget</label>
                          <div class="col-sm-10">
                              <input type="text" class="form-control" readonly value="wget {% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}/files/testcase/{{testcase.fuzzerFile.name}} ">
                          </div>
                      </div>
                      {% endif %}
                          {% if testcase.fuzzer_url %}

                      <div class="form-group">
                          <label class="col-lg-2 col-sm-2 control-label">from external</label>
                          <div class="col-sm-10">
                              <p class="form-control-static"> <a href="{{testcase.fuzzer_url}}">{{testcase.fuzzer_url}}</a></p>
                          </div>
                      </div>
                          {% endif %}
                  </form>

                  </div>
          		</div><!-- col-lg-12-->
          	</div><!-- /row -->
            {% endif %}
		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->

      <!--main content end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="/assets/js/common-scripts.js"></script>
    <!--script for this page-->
    <script src="/assets/js/jquery-ui-1.9.2.custom.min.js"></script>
	<script src="/assets/js/form-component.js"></script>    
    
    
  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>

  </body>
</html>
